.page-header
  = link_to parking_details_path, class: 'btn btn-default f-right MarTop25' do
    %span.glyphicon.glyphicon-list-alt
    Back
 
  %h1.f-left Editing parking_detail
  .clear
= render 'form'
