.page-header
  = link_to new_parking_detail_path, class: 'btn btn-primary f-right MarTop25' do
    %span.glyphicon.glyphicon-plus
    New Booking
  %h1.f-left Parking Details
  .clear
  = form_tag "/parking_details", :method => "get", :class => "right search-frm" do
    .input-group
      = text_field_tag "s", "", :class => "form-control", :placeholder => "Search for..."
      %span.input-group-btn
        %button.btn.btn-default{:type => "submit"} Go!
  .clear
.table-responsive#parking-Dtail-table
  = render "parking_detail_list"

