.page-header
  = link_to new_parking_detail_path, class: 'btn btn-primary f-right MarTop25' do
    %span.glyphicon.glyphicon-plus
    New Booking
  %h1.f-left Parking Details
  .clear

.table-responsive#parking-Dtail-table
  = render "parking_detail_list"

